.sidenav {
  width: 20%;
  //   display: flex;
}

mat-nav-list {
  padding: 0 20px 20px 20px;
  margin-top: 20px;
}

a {
  border: 1px solid white;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}

.premium-button {
  margin: auto;
  display: block;
  background-color: #63ceff;
  color: #fff;
  width: 80%;
  margin-top: 20px;
  height: 50px;
}
