<h1 mat-dialog-title>
    Método de pago
    <button mat-button (click)="onExitClick()">
        <mat-icon class="icon">close</mat-icon>
    </button>
</h1>
<div mat-dialog-content>
    Revisa el detalle del monto monetario antes de Continuar.
</div>
<div mat-dialog-actions>
    <button mat-button  (click)="openVisa()"><img src="../../../assets/VISA.png" class="method-image"></button>
</div>
<div mat-dialog-actions>
    <!--<button mat-button><img src="../../../assets/YAPE.png" class="method-image"></button>-->
</div>