html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f0fb;
  padding: 20px;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
