<div mat-dialog-title class="title-text">
    TARJETA
    <span class="example-spacer"></span>
    <button mat-button (click)="onExitClick()">
        <mat-icon class="icon">close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content class="subtitle-text">
    Monto a donar: {{data.donation}} PEN
</div>
<div mat-dialog-content (input)="detectValidForm()" (click)="detectValidForm()">
    <form>
        <mat-form-field class="big-form">
          <mat-label>Numero de tarjeta</mat-label>
          <input matInput [required]="true" type="number" [formControl]="numeroFormControl"/>
        </mat-form-field>
    </form>
    <form>
        <mat-form-field class="small-form">
            <mat-label>MM/AA</mat-label>
            <input matInput [required]="true" type="month" [formControl]="expireFormControl"/>
        </mat-form-field>
        <mat-form-field class="small-form">
            <mat-label>CVV</mat-label>
            <input matInput [required]="true" type="number" [formControl]="cvvFormControl"/>
        </mat-form-field>
    </form>
    <form>
        <mat-form-field class="small-form">
            <mat-label>Nombre</mat-label>
            <input matInput [required]="true" type="string" [formControl]="nameFormControl"/>
        </mat-form-field>
        <mat-form-field class="small-form">
            <mat-label>Apellido</mat-label>
            <input matInput [required]="true" type="string" [formControl]="lastnameFormControl"/>
        </mat-form-field>
    </form>
    <form>
        <mat-form-field  class="big-form">
          <mat-label>Email</mat-label>
          <input matInput [required]="true" type="email" [formControl]="emailFormControl"/>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <ng-container *ngIf="!isFormValid; else elseTemplate">
        <button mat-button disabled class="pagar-button-disabled">
            Donar {{data.donation}} PEN
        </button> &nbsp;
    </ng-container>&nbsp;
    <ng-template #elseTemplate>
        <button mat-button (click)="registerDonation()" class="pagar-button">
            Donar {{data.donation}} PEN
        </button> &nbsp;
    </ng-template>
    <!--<button mat-button (click)="registerDonation()" class="pagar-button">Donar {{data.donation}} PEN</button>-->
</div>
