<div class="main-container">
  <div class="content-container">
    <div class="trend-container">
      <h2>Tendencia</h2>
      <mat-card class="trend-card">
        <mat-card-content class="trend-image-container">
          <img
            mat-card-image
            [src]="campaign1?.headerImage"
            [alt]="campaign1?.name"
            class="trend-image"
          />
        </mat-card-content>

        <mat-card-content>
          <h3 mat-card-title>{{ campaign1?.name }}</h3>
          <p mat-card-subtitle>{{ campaign1?.slogan }}</p>
          <p mat-card-subtitle>{{ campaign1?.description }}</p>
          <button
            mat-raised-button
            color="accent"
            routerLink="/campaign/{{ campaign1?.id }}"
          >
            Ver ahora
          </button>
        </mat-card-content>
      </mat-card>
      <!--<p>Carrousel Work in progress</p>-->
    </div>
    <div class="explore-container">
      <h2>Más campañas</h2>
      <div class="campaign-card-container">
        <mat-card class="campaign-card" *ngFor="let campaign of campaigns">
          <img
            mat-card-image
            [src]="campaign.bodyImage"
            [alt]="campaign.name"
          />
          <mat-card-content>
            <h3 mat-card-title>{{ campaign.name }}</h3>
            <p mat-card-subtitle>{{ campaign.description }}</p>
            <button
              mat-raised-button
              color="accent"
              routerLink="/campaign/{{ campaign.id }}"
            >
              Ver ahora
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
