.main-container {
  display: flex;
  min-height: 100vh; /* Cambiamos height a min-height */
  background-color: #f8f0fb;
  padding: 40px 20px;
  box-sizing: border-box; /* Agregamos box-sizing */
}

.content-container {
  flex: 1;
  padding: 20px;
  max-width: 100%;
  // max-height: 60vh; /* Cambiamos 60% a 60vh */
  margin: 0 auto;
  box-sizing: border-box;
}

/* Resto del código... */

.trend-container {
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}

.trend-slide {
  position: relative;
  height: 200px;
  background-color: #f8f0fb;
  border-radius: 10px;
}

.trend-slide-image {
  height: 20%;
  // background-image: url("../../../assets/peru.png");
  background-size: cover;
  border-radius: 10px;
}
.trend-carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

mat-grid-tile {
  width: calc(30%);
  height: 200px;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}

.trend-slide-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  padding: 10px;
  background-color: #f8f0fb;
  color: #fff;
  border-radius: 0 0 10px 10px;
}

.trend-slide-text h3 {
  font-size: 20px;
  margin: 0;
}

.trend-slide-text p {
  font-size: 14px;
  margin: 0;
}

.explore-container {
  margin-bottom: -32px;
  //^Uniendolo con el margin del campaign-card, el margin resultante es de 0
}

.trend-card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8px; /* Agregamos un margen a la izquierda */
  margin-right: 8px; /* Agregamos un margen a la derecha */
  .trend-image-container {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 15vw;
    overflow: hidden;
    .trend-image {
      width: 100%;
      margin-top: -10%;
    }
  }
}

.trend-card h3 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 12px;
}

.trend-card p {
  font-size: 14px;
  margin: 10px 0;
  margin-bottom: 12px;
}

.campaign-card-container {
  display: flex;
  gap: 8px;
  margin: 0 10px;
  flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio */
  justify-content: space-between; /* Distribuir espacio uniformemente entre las tarjetas */
}

.campaign-card {
  width: 30%; /* En lugar de min-width */
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 8px; /* Agregamos un margen a la izquierda */
  margin-right: 8px; /* Agregamos un margen a la derecha */
  flex: 1; /* Asegurar que todas las tarjetas tengan el mismo tamaño, independientemente del contenido */
}

.campaign-card img {
  height: 200px;
  border-radius: 10px;
}

.campaign-card-content {
  padding: 10px;
}

.campaign-card-content h3 {
  font-size: 18px;
  margin: 0;
}

.campaign-card-content p {
  font-size: 14px;
  margin: 10px 0;
}

.campaign-card-content button {
  margin-top: 10px;
  width: 100%;
}
.carousel-container {
  width: 70vw;
  height: 80vh;
  margin: 16px auto;
}

@media (max-width: 1200px) {
  .campaign-card {
    width: 100%; /* Las tarjetas ocuparán el ancho total */
    height: auto; /* Altura auto para evitar que el texto se desborde */
    margin-bottom: 20px;
    flex: 1; /* Asegurar que todas las tarjetas tengan el mismo tamaño, independientemente del contenido */
  }

  .campaign-card-container {
    flex-direction: column; /* Las tarjetas se organizan en una columna */
    justify-content: space-around; /* Distribuir espacio uniformemente entre las tarjetas, incluyendo los bordes */
  }

  .main-container {
    height: auto; /* Permitir que el contenedor principal se ajuste a su contenido */
  }

  .content-container {
    height: auto; /* Permitir que el contenedor de contenido se ajuste a su contenido */
  }
}
