<header>
  <mat-toolbar>
    <div class="home_linker">
      <img
        src="assets/logo.png"
        alt="Logo"
        class="logo"
        routerLink="/home"
        style="cursor: pointer"
      />
      <a class="button_home" routerLink="/home" mat-button>Inicio</a>
    </div>
    <div class="toolbar-container">
      <mat-icon class="icon">search</mat-icon>
      <mat-icon class="icon">notifications</mat-icon>
      <div class="avatar-container">
        <img
          src="assets/avatar.png"
          alt="Avatar"
          class="avatar"
          mat-menu-trigger="menu"
        />
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Editar perfil</button>
          <button mat-menu-item>Cerrar sesión</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</header>
