.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f0fb;

  .home_linker {
    display: flex;
    align-items: center;
  }

  .button_home {
    margin-right: 16px;
    left: 0px;
    font-weight: bold;
  }

  .logo {
    height: 60px;
    width: 70px;
    margin-left: 10px;
    border-radius: 50%;
  }

  .breadcrumb-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;

    .breadcrumb-item {
      margin-right: 5px;
      // text-transform: uppercase;
      color: #888;
      font-weight: normal;
      text-decoration: none;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }
    .separator {
      //add a margin to separate to the right and left
      font-weight: normal;
      font-weight: bold;
      margin: 0 5px;
      color: #888;
    }
  }

  .toolbar-container {
    display: flex;
    align-items: center;
    background-color: #f8f0fb;
  }

  .icon {
    margin-right: 10px;
    cursor: pointer;
  }

  .avatar-container {
    margin-left: 20px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
}
