.SignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Ajustamos la altura al 100% del viewport */
}

.password {
  margin-top: 0; /* Eliminamos el margen superior */
  margin-bottom: 10px; /* Ajustamos el margen inferior */
}

.password-lost {
  margin-top: 10px; /* Ajustamos el margen superior */
  margin-bottom: 20px;
}

.sign-in-button {
  background-color: #0099ad;
  color: #ffffff;
  margin-bottom: 10px;
}

.google-button {
  margin-bottom: 10px;
}

.facebook-button {
  margin-bottom: 10px;
}
