.SignIn{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tittle{
font-weight: 450;
}

.mat-form-field{
    margin-top: 20px;
    margin-bottom: -30px;
    width: 300px;
}

.password-lost{
    margin-top: 1px;
    margin-bottom: 20px;
    color: #FF0000;
}
.sign-in-button {
    background-color: #63CEFF;
    color: #ffffff;
    margin-bottom: 10px;
    
}

.google-button{
   margin-bottom: 10px;
}
.facebook-button{
    margin-bottom: 50px;
}

.no-account{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}

.create-account{
    color:#FF0000;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}