<div class="SignIn">
    <h1 class ="tittle">Inicia sesión</h1>
    <p>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="Ingresa tu correo electrónico">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Ingresa tu contraseña">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
    
      <a routerLink="/retrieve-account" class="password-lost">¿Olvidaste tu constraseña?</a>
      
    <button mat-raised-button class="sign-in-button" routerLink="home">Iniciar sesión</button> 
    <button mat-raised-button class="google-button">Inicia sesión con Google</button>
    <button mat-raised-button color="primary" class="facebook-button">Iniciar sesión con Facebook</button>
    <p class="no-account">¿Todavía no tienes cuenta? </p>
    <a routerLink="/create-account" class="create-account">Crea una cuenta</a>
    </div>
