<div class="main-container">
  <div class="content-container">
    <mat-card class="card-container">
      <h1>Crear Campaña</h1>
      <form class="form-container">
        
        <mat-form-field class="full-width">
          <mat-label>Nombre de la campaña</mat-label>
          <textarea matInput placeholder=""></textarea>
        </mat-form-field>
        
        <h2>Seleccione los tipos de donaciones que desea recibir</h2>
        <h2>Meta</h2>
        <mat-form-field class="full-width">
          <mat-label>Ingrese cantidad de coins</mat-label>
          <textarea matInput placeholder=""></textarea>
        </mat-form-field>
        
      </form>
    </mat-card>
  </div>
</div>
