<div class="main-container">
    <div class="content-container">
      <mat-card class="card-container">
        <h1>Recepción de donaciones</h1>
        <h2>Cuentas bancarias</h2>
        <form class="form-container">
            <div class="row">
                <img
                src="assets/yape.png"
                alt="Yape"
                class="yapeimg"
                />
                <mat-form-field>
                  <mat-label></mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
            </div>
            
            <div class="row">
                <button mat-mini-fab color="primary" aria-label="Agregar cuenta bancaria">
                    <mat-icon>add</mat-icon>
                </button>
                <div class="textLabel"> Agregar cuenta bancaria</div>
            </div>
            <h2 style="padding-top: 20px;">Ubicacion</h2>
            <div class="row">
                <mat-form-field class="full-width">
                  <mat-label>Pais</mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Ciudad</mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Distrito</mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="full-width">
                  <mat-label>Dirección</mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="full-width">
                  <mat-label>Referencia</mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
            </div>
            <div class="containerButtons">
            </div>
        </form>
      </mat-card>
    </div>
  </div>