<div class="CreateAccount">
  <p style="font-size: large">Cuenta Nueva</p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Ingresa tu nombre</mat-label>
      <input matInput placeholder="" />
      <mat-icon matSuffix></mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Ingresa tu apellido</mat-label>
      <input matInput placeholder="" />
      <mat-icon matSuffix></mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Ingresa tu DNI</mat-label>
      <input matInput placeholder="" />
      <mat-icon matSuffix></mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Ingresa tu teléfono</mat-label>
      <input matInput placeholder="" />
      <mat-icon matSuffix></mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Ingresa tu correo electrónico</mat-label>
      <input matInput placeholder="" />
      <mat-icon matSuffix></mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Ingresa tu contraseña</mat-label>
      <input matInput placeholder="" />
      <mat-icon matSuffix></mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Confirma tu contraseña</mat-label>
      <input matInput placeholder="" />
      <mat-icon matSuffix></mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>

  <mat-checkbox class="example-margin"
    >Acepto los términos y condiciones
  </mat-checkbox>

  <button mat-raised-button class="create-account-button" routerLink="sign-in">
    Crear cuenta
  </button>
</div>
