<div class="CreateAccount">
    <p class="New account">Cuenta Nueva</p>
    <div class="mat-form-field">
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput placeholder="Ingrese su nombre">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Ingrese su apellido">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
    </div>
      <p class="DNI-Phone">
        <mat-form-field appearance="outline">
          <mat-label>DNI</mat-label>
          <input matInput placeholder="Ingrese su DNI">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Ingrese su teléfono">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
    <div class="mat-form-field">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="Ingrese su correo electrónico">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Ingresa tu contraseña</mat-label>
          <input matInput placeholder="">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Confirme su contraseña</mat-label>
          <input matInput placeholder="Ingrese su contraseña nuevamente">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
    </div>
      <mat-checkbox class="mat-checkbox">Acepto los términos y condiciones</mat-checkbox>
    
      <button mat-raised-button class="create-account-button" routerLink="sign-in">Crear cuenta</button>
      
    
    
    </div>