

.CreateAccount{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    
}
.New-account{
    width: 300px;
    color:#63CEFF;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
}

.mat-form-field{
    margin-top: -10px;
    margin-bottom: -10px;
    //width: 300px;
}

//
    
.mat-checkbox{
color:#63CEFF;
margin-bottom: 30px;


}
.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #63CEFF;
}

.mat-checkbox-checked .mat-checkbox-ripple,
.mat-checkbox-indeterminate .mat-checkbox-ripple {
  background-color: #63CEFF; 
}

.mat-checkbox-checked .mat-checkbox-checkmark-path {
    background-color: #63CEFF; 
}

.create-account-button {
    background-color: #63CEFF;
    color: #ffffff;
    margin-bottom: 20px;
    height: 40px;
    width: 200px;

}
