.create-account-button {
    background-color: #0099AD;
    color: #ffffff;
    margin-bottom: 20px;
}

.CreateAccount{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1px;
}

.example-margin{
color:#0099AD;
margin-bottom: 20px;

}